.vscode/**
.vscode-test/**
src/**
test/**
out/**
node_modules/**
scripts/**
.gitignore
.envrc
.direnv/**
flake.nix
flake.lock
tsconfig*.json
esbuild.mjs
**/*.map
**/*.ts
!dist/**
dist/**/*.map
!wasm/**
!queries/**
!docs/**
