.vscode/**
.vscode-test/**
.github/**
src/**
test/**
out/**
node_modules/**
scripts/**
wasm-optional/**
media/helicode.svg
.gitignore
.envrc
.direnv/**
flake.nix
flake.lock
tsconfig*.json
esbuild.mjs
grammars.json
**/*.map
**/*.ts
!dist/**
dist/**/*.map
!wasm/**
!queries/**
!docs/**
!media/icon.png
**/*.js.map
